.content-box {
    padding: 50px;
    border: $global-border;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;

    &.small {
        padding: 30px;
        margin-bottom: 15px;
    }

    h3 {
        color: $color-blue;
        font-family: $font-family-sans-serif-condensed;
        font-size: 36px;
        line-height: 40px;
        text-align: left;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;

        &.lead {
            font-size: 20px;
            line-height: 30px;
        }
    }
    i {
        font-style: italic;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
